.App {
  text-align: center;
  background-image: url('./images/casino.png');
  height: 100%;
  width: 100%;
}

.App-header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-weight: 700;
  padding-top: 50px;
  padding: 0;
}

.balance {
  font-size: 1.5em;
  padding: 20px;
  padding: 0;
}

.card {
  height: 170px;
  width: 130px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 40px;
}

button {
  height: 75px;
  width: 150px;
  font-weight: 600;
  letter-spacing: 0.5em;
  margin: 10px 10px 30px 10px;
}

.dealer {
}

.dealerHand {
}

.score {
  font-size: 3em;
  margin: 0 0 10px 0;
}

.chip {
  height: 100px;
  width: 100px;
  margin: 100px 30px 60px 30px;
}

.bet {
  margin: 50px 0 300px 0;
}

.betPlaced {
  margin: 150px 0 100px 0;
  font-size: 1.5em;
}
