@media only screen and (max-width: 600px) {
  .App {
    font-family: Arial, Helvetica, sans-serif !important;
  }
  .place-bet {
    margin: 0 !important;
    display: flex !important;
    flex-direction: column;
  }

  h1,
  h2 {
    font-weight: 700 !important;
    margin: 15px !important;
    font-size: 1em !important;
    align-self: center !important;
  }

  h3 {
    font-size: 1em !important;
    margin-top: 20px !important;
  }

  .rules {
    font-size: 1em !important;
    line-height: 10px !important;
  }

  .bet {
    height: 90px !important;
    width: 90px !important;
  }

  .link--bet {
    margin-bottom: 40px !important;
  }

  .bank {
    font-size: 0.8em !important;
  }

  .chip {
    height: 60px !important;
    width: 60px !important;
  }

  .card {
    height: 110px !important;
    width: 80px !important;
    padding: 2px !important;
    margin-top: 10px !important;
  }

  .btn {
    margin: 5px !important;
  }
}

.App {
  color: rgba(255, 255, 255, 0.932);
  font-family: Comic Sans, Comic Sans MS, cursive;
  text-align: center;
  background-color: rgb(27, 143, 42);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 5.5fr 1fr auto;
  grid-template-areas: 'header' 'game' 'bank' 'footer';
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background-color: rgba(5, 80, 5, 0.842);
  border-bottom: solid 1px rgba(5, 80, 5, 0.849);
  box-shadow: 0px 1px 2px 2px rgba(19, 44, 15, 0.685);
  letter-spacing: 0.5em;
}

h1,
h2 {
  font-weight: 700;
  margin: 15px;
  font-size: 1.5em;
}

h3 {
  font-size: 2em;
  margin-top: 65px;
}

.game {
  grid-area: game;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bank {
  grid-area: bank;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.bank div {
  font-size: 1.5em;
  margin: 0px 50px 0 50px;
  font-weight: 600;
}

.bank--header {
  color: rgb(219, 201, 34);
  margin: 0;
}

.bank--money {
  font-size: 1.5em;
  margin: 5px;
}

footer {
  grid-area: footer;
  margin-top: 10px;
  height: 55px;
}

.place-bet {
  margin: 0px 100px 10px 100px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 'rules target' 'rules target' 'bet chips';
}

.place-bet--title {
  grid-area: betTitle;
  letter-spacing: 0.1em;
  margin: 10px;
  align-self: center;
}

.link--bet {
  align-self: center;
  justify-self: center;
}

.bet {
  grid-area: bet;
  height: 120px;
  width: 120px;
  font-weight: 600;
  border-radius: 100%;
  border: none;
  margin: 10px 10px 10px 10px;
  background-color: rgba(189, 26, 26, 0.822);
  box-shadow: 0px 8px 10px 0px rgba(182, 7, 7, 0.3),
    inset 0px 4px 1px 1px rgb(177, 10, 10),
    inset 0px -3px 1px 1px rgba(134, 29, 10, 0.651);
  font-size: 1.6em;
  color: rgba(255, 255, 255, 0.863);
  outline: none;
  font-family: Comic Sans, Comic Sans MS, cursive;
  letter-spacing: 0.2em;
}

.house-rules {
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.rules {
  grid-area: rules;
  font-size: 1.5em;
  text-align: start;
}

li {
  margin-bottom: 10px;
  line-height: 50px;
}

.chips {
  grid-area: chips;
  display: flex;
  justify-content: center;
  align-items: center;
}

.target {
  grid-area: target;
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: 0px 1px 2px 4px rgba(19, 44, 15, 0.425);
  place-self: center;
}

.bag {
  height: 160px;
  width: 160px;
  padding-top: 10px;
}

.chip {
  height: 85px;
  width: 85px;
  margin: 20px;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 2px rgba(19, 44, 15, 0.685);
}

.card {
  height: 140px;
  width: 100px;
  margin: 10px 20px 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 2px rgba(19, 44, 15, 0.521);
}

.title--start {
  font-size: 3em;
  letter-spacing: 0.1em;
}

.btn {
  font-family: Comic Sans, Comic Sans MS, cursive;
  color: white;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  font-weight: 650;
  height: 50px;
  width: 175px;
  margin: 10px 15px 30px 15px;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 1px 2px 2px rgba(19, 44, 15, 0.685);
  background-color: rgb(85, 81, 81, 0.493);
}

button:active {
  transform: translateY(4px);
}

.score {
  font-size: 1.2em;
  background-color: rgb(163, 13, 13);
  width: 25px;
  border-radius: 50%;
  padding: 4px;
  margin: 15px 0 0 0;
  align-self: center;
  border: solid 1px rgba(rgba(53, 28, 28, 0.712), green, blue, alpha);
}

.wallet {
  align-self: end;
}

figure {
  margin: 0;
}

.betPlaced {
  margin: 50px 0 50px 0;
  font-size: 1.5em;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 'dealer dealer dealer' 'player player player' 'balance . bet';
}

.player {
  grid-area: player;
  display: flex;
  flex-direction: column;
}

.dealer {
  grid-area: dealer;
  display: flex;
  flex-direction: column;
}
