.App {
  text-align: center;
  background-color: darkgreen;
  height: 1000px;
}

.App-header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-weight: 700;
  padding-top: 50px;
}

.balance {
  font-size: 1.5em;
  padding: 20px;
}

.card {
  height: 170px;
  width: 130px;
  padding: 10px;
  margin-bottom: 40px;
}

button {
  height: 75px;
  width: 150px;
  font-weight: 600;
  letter-spacing: 0.5em;
  margin: 10px 10px 30px 10px;
}

.score {
  font-size: 3em;
  margin: 0 0 10px 0;
}

.chip {
  height: 100px;
  width: 100px;
  margin: 30px;
}
